{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}


{% block content %}

{% if user.is_authenticated %}
<section class="flex flex-col w-10/12"> {% if Categories %}
    {% for Category in Categories  %}
    <p class="bg-orange-200   text-center mt-5">
        <a href="{% url 'main:details' Category.cat_name %}">{{ Category.cat_name }}</a>
    </p>
    {% endfor %}
    {% else %}
    <p>No Categories yet</p>
    {% endif %}
</section>
{% else %}
{% include "loginform.html" %}
{% endif %}



{% endblock content %}